@{
    ViewData["Title"] = "All Books";
    Layout = "/Views/Shared/_MyLayout.cshtml";
}
<!-- about section -->
<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="/images/about-img.png" alt="about">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        Happy Library are a haven for curious minds, a sanctuary for the intellectually adventurous, and a hub for lifelong learners.
                        At Happy Library, we curate a diverse selection of literature, spanning from timeless classics to contemporary bestsellers,
                        catering to readers of all ages and interests. Our shelves hold treasures waiting to be discovered, offering endless opportunities for enlightenment,
                        entertainment, and inspiration.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-box">
                    <img src="/images/about-img-2.png" alt="about">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <p>
                        Happy Library are a haven for curious minds, a sanctuary for the intellectually adventurous, and a hub for lifelong learners.
                        At Happy Library, we curate a diverse selection of literature, spanning from timeless classics to contemporary bestsellers,
                        catering to readers of all ages and interests. Our shelves hold treasures waiting to be discovered, offering endless opportunities for enlightenment,
                        entertainment, and inspiration.
                    </p>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
